.page {
  display: grid;
  gap: 1em;

  grid-template-columns: repeat(auto-fit, minmax(min(100%, 22em), 1fr));
  grid-auto-rows: minmax(min(100%, 24em), 1fr);
}

.page > section {
  background: var(--clr-primary-800);
  border-start-start-radius: 1em;
  border-end-start-radius: 1em;
  border-start-end-radius: 1em;
  border-end-end-radius: 1em;
  padding-inline: 1em;
  padding-block: 1em;
}
