.contact {
  /* Local custom properties */
  --_border-radius: 1em;

  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.contact section {
  background: var(--clr-primary-800);
  border-radius: var(--_border-radius);
  padding: 1em;
}

.contact > * {
  flex: 1 1 0;
}
