.education {
  display: grid;
  gap: 1em;

  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15em), 1fr));
}

.education > section {
  background: var(--clr-primary-800);
  border-start-start-radius: 1em;
  border-end-start-radius: 1em;
  border-start-end-radius: 1em;
  border-end-end-radius: 1em;
  padding-inline: 1em;
  padding-block: 1em;
}
