@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* our colors */
  --clr-neutral-100: oklch(1 0 89.88 / 1);
  --clr-primary-200: oklch(0.5783 0.0643 274.44 / 1);
  --clr-primary-300: oklch(0.4374 0.0976 272.26 / 1);
  --clr-primary-400: oklch(0.5744 0.1383 272.82 / 0.9);
  --clr-primary-700: oklch(0.2779 0.0668 271.89 / 1);
  --clr-primary-800: oklch(0.2506 0.0647 270.92 / 1);
  --clr-accent-400: oklch(0.7478 0.1765 163.47 / 1);
  --clr-secondary-400: oklch(0.6242 0.1884 274.19 / 1);

  /* shadcn/ui (dark) */
  --background: var(--clr-primary-700);
  --foreground: var(--clr-neutral-100);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: transparent;
  --primary-foreground: var(--clr-primary-300);
  --secondary: transparent;
  --secondary-foreground: var(--clr-secondary-400);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: var(--clr-primary-300);
  --accent: transparent;
  --accent-foreground: var(--clr-accent-400);
  --destructive: transparent;
  --destructive-foreground: var(--clr-accent-400);
  --border: oklch(1 0 0 / 10%);
  --input: var(--clr-primary-300);
  --ring: var(--clr-accent-400);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);

  /* shadcn/ui (shared) */
  --radius: 0.625rem;
}

@theme inline {
  --font-outfit: var(--font-outfit);

  --color-clr-neutral-100: var(--clr-neutral-100);
  --color-clr-primary-200: var(--clr-primary-200);
  --color-clr-primary-300: var(--clr-primary-300);
  --color-clr-primary-400: var(--clr-primary-400);
  --color-clr-primary-700: var(--clr-primary-700);
  --color-clr-primary-800: var(--clr-primary-800);
  --color-clr-accent-400: var(--clr-accent-400);
  --color-clr-secondary-400: var(--clr-secondary-400);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --animate-slide-lr: slide-lr 1s ease-in-out forwards;
  --animate-slide-bt: slide-bt 1s ease-in-out forwards;
  --animate-slide-lr-fade-out: slide-lr 1s ease-in-out forwards, fade-out 24s ease-in-out alternate infinite;
  --animate-slide-lr-fade-in: slide-lr 1s ease-in-out forwards, fade-in 24s ease-in-out alternate infinite;
  --animate-slide-bt-fade-out: slide-bt 1s ease-in-out forwards, fade-out 24s ease-in-out alternate infinite;
  --animate-slide-bt-fade-in: slide-bt 1s ease-in-out forwards, fade-in 24s ease-in-out alternate infinite;

  @keyframes slide-lr {
    0% {
      transform: translateX(0);
    }
    100% {
      opacity: var(--_dest-opacity);
      transform: translateX(100%);
    }
  }

  @keyframes slide-bt {
    0% {
      transform: translateY(0);
    }
    100% {
      opacity: var(--_dest-opacity);
      transform: translateY(-100%);
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    33% {
      opacity: 1;
    }
    66% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    33% {
      opacity: 0;
    }
    66% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}

@utility container {
  @apply mx-auto max-w-[min(90vw,65ch)];
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    color-scheme: dark;
    @apply scroll-pt-44 lg:scroll-pt-28;
    scrollbar-color: var(--clr-primary-300) var(--clr-primary-700);
  }

  body {
    @apply bg-background text-foreground min-h-dvh text-base font-light;
  }

  a,
  button {
    @apply focus-visible:outline-accent-foreground transition duration-1000 ease-in-out focus-visible:outline focus-visible:outline-offset-1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply max-w-[35ch] text-balance;
  }

  p {
    @apply max-w-prose text-pretty;
  }
}
