.contact-map {
  --_clr-overlay: hsla(229, 47%, 17%, 0.9);

  inline-size: 100%;
  block-size: 100%;
  max-inline-size: 36em;
  min-block-size: 18em;
  margin-inline: auto;
  position: relative;
  z-index: 0;
}

.contact-map__overlay {
  position: absolute;
  inset-inline-end: 2em;
  inset-block-start: 2em;
  font-size: var(--fs-200);
  font-weight: var(--fw-regular);
  background: var(--_clr-overlay);
  border-start-start-radius: 0.25em;
  border-end-start-radius: 0.25em;
  border-start-end-radius: 0.25em;
  border-end-end-radius: 0.25em;
  box-shadow: inset 1px 1px 3px var(--clr-neutral-100);
  padding-inline: 1em;
  padding-block: 1em;
  z-index: 1;
}

.contact-map :global .leaflet-container {
  inline-size: 100%;
  block-size: 100%;
  z-index: 0;
}
