.contact-form {
  inline-size: 100%;
  max-inline-size: 36em;
  margin-inline: auto;
}

.contact-form > ul {
  list-style: none;
  padding-inline: 0;
  padding-block: 0;
  margin-inline: 0;
  margin-block: 0;
}

.contact-form input,
.contact-form textarea {
  font: var(--fw-regular) var(--fs-400) / 1.5 var(--ff-base);
  inline-size: 100%;
  border: 1px solid var(--clr-primary-200);
  border-start-start-radius: 0.25em;
  border-end-start-radius: 0.25em;
  border-start-end-radius: 0.25em;
  border-end-end-radius: 0.25em;
  box-shadow: inset 1px 1px 3px var(--clr-primary-800);
  background: var(--clr-primary-200);
  outline: none;
  padding-inline: 0.25em;
  padding-block: 0.25em;
}

.contact-form textarea {
  vertical-align: top;
  overflow: auto;
}

.contact-form input:focus-visible,
.contact-form textarea:focus-visible {
  outline: 1px solid var(--clr-primary-200);
  outline-offset: 2px;
}

.contact-form input:invalid,
.contact-form textarea:invalid {
  outline: 1px solid var(--clr-accent-400);
  outline-offset: 2px;
}

.contact-form input:valid,
.contact-form textarea:valid {
  outline: none;
}

.contact-form li + li {
  margin-block: 1em 0;
}

.contact-form__row {
  background: var(--clr-primary-800);
}

.contact-form__row label {
  display: block;
  padding-block: 0 0.5em;
  color: var(--clr-primary-200);
  font-size: var(--fs-200);
  font-weight: var(--fw-semi-bold);
  text-transform: uppercase;
}

.contact-form__row--split {
  display: flex;
  gap: 0 1em;
}

.contact-form__row--split > * {
  flex: 1 1 auto;
}
