.contact-map {
  /* Local custom properties */
  --_width: 100%;
  --_min-height: 37em;
  --_border-radius: 0.25em;

  width: 100%;
  height: 100%;
  min-width: 18em;
  min-height: 18em;
  /* height: 37em; */
  background: var(--clr-primary-800);
  border-radius: var(--_border-radius);
  padding: 1em;
  position: relative;
}

.contact-map__overlay {
  position: absolute;
  right: 2em;
  top: 2em;
  font-size: var(--fs-200);
  font-weight: var(--fw-regular);
  background: var(--clr-primary-700);
  border-radius: var(--_border-radius);
  padding: 1em;
  z-index: 1;
}

.contact-map :global .leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}
