.experience-details {
  inline-size: 100%;
}

.experience-details__year {
  color: var(--clr-accent-400);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  letter-spacing: 0.2em;
}

.experience-details__role {
  font-size: var(--fs-500);
  line-height: 1.2;
}

.experience-details__company {
  color: var(--clr-primary-200);
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
}

.experience-details__live-link {
  display: grid;

  grid-template-columns: [img-start] var(--size-3) [inf-start skl-start] auto [inf-end] 1fr [skl-end] var(--size-2) [img-end];
  grid-template-rows: [img-start] var(--size-3) [inf-start] auto [inf-end skl-start] 1fr [skl-end] var(--size-2) [img-end];
}

.live-link__skl {
  grid-area: skl;
  place-self: end;

  max-inline-size: var(--size-content-2);

  font-size: var(--fs-300);
  font-weight: var(--fw-regular);

  background: var(--clr-primary-400);
  padding-inline: var(--size-3);
  padding-block: var(--size-1);

  border-radius: var(--radius-3);
  box-shadow: var(--shadow-6);
}

.live-link__img {
  grid-area: img;
}

.live-link__inf {
  grid-area: inf;
  place-self: start;

  background: var(--clr-primary-400);
  padding-inline: var(--size-1);
  padding-block: var(--size-1);

  border-radius: var(--radius-3);
  box-shadow: var(--shadow-6);

  display: flex;
  align-items: center;

  gap: var(--size-3);
}

.live-link__inf > a {
  display: block;
  border-start-start-radius: 1em;
  border-end-start-radius: 1em;
  border-start-end-radius: 1em;
  border-end-end-radius: 1em;
}

.live-link__inf > a:hover {
  outline: 1px solid var(--clr-accent-400);
}
