.experience-slide {
  inline-size: 100cqi;

  flex: 1 0 100cqi;

  border-start-start-radius: 1em;
  border-end-start-radius: 1em;
  border-start-end-radius: 1em;
  border-end-end-radius: 1em;
  padding-inline: 1em;
  padding-block: 1em;
  background: var(--clr-primary-700);

  transition: translate 1000ms ease-in-out;
}

.experience-slide__year {
  color: var(--clr-accent-400);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  letter-spacing: 0.2em;
}

.experience-slide__role {
  font-size: var(--fs-500);
  line-height: 1.2;
}

.experience-slide__company {
  color: var(--clr-primary-200);
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
}

.experience-slide__live-link {
  display: grid;

  grid-template-columns: [img-start] var(--size-3) [inf-start] auto [inf-end img-end];
  grid-template-rows: [img-start] var(--size-3) [inf-start] auto [inf-end img-end];
}

.live-link__img {
  grid-area: img;

  outline: 2px solid var(--clr-primary-800);
  outline-offset: 2px;
  outline-style: outset;

  &:hover {
    outline-style: inset;
  }
}

.live-link__inf {
  grid-area: inf;

  background: var(--clr-primary-400);
  padding-inline: var(--size-1);
  padding-block: var(--size-1);

  border-radius: var(--radius-3);
  box-shadow: var(--shadow-6);

  place-self: start;
  display: flex;
  align-items: center;

  gap: var(--size-3);

  outline: 2px solid var(--clr-primary-400);
  outline-style: outset;
}

.live-link__inf > a {
  display: block;

  border-start-start-radius: 1em;
  border-end-start-radius: 1em;
  border-start-end-radius: 1em;
  border-end-end-radius: 1em;

  outline: 2px solid var(--clr-primary-800);
  outline-style: outset;

  &:hover {
    outline-style: inset;
  }
}
