.experience-slider {
  inline-size: 100%;
  max-inline-size: 36em;
  margin-inline: auto;

  display: grid;
  gap: 0.25em;

  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;

  grid-template-areas:
    "hdr   hdr   hdr  "
    "pjobt cjobt njobt"
    "jview jview jview"
    "pjobb cjobb njobb";

  & > figcaption {
    grid-area: hdr;
    place-self: stretch end;

    background: var(--clr-primary-300);
    font-style: italic;
    padding-inline: 0.35em;
    padding-block: 0.35em;
    margin-block: 0 1em;
    border-start-start-radius: 1em;
    border-start-end-radius: 0;
    border-end-start-radius: 0;
    border-end-end-radius: 1em;
  }

  & > header {
    grid-area: cjobt;
    place-self: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }

  & > footer {
    grid-area: cjobb;
    place-self: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }

  & > article {
    grid-area: jview;

    display: flex;
    overflow: hidden auto;

    scrollbar-color: var(--clr-accent-400) var(--clr-primary-800);

    container: job-list / inline-size;
  }
}

.experience-slider__pjobt {
  grid-area: pjobt;
}
.experience-slider__pjobb {
  grid-area: pjobb;
}

.experience-slider__njobt {
  grid-area: njobt;
}
.experience-slider__njobb {
  grid-area: njobb;
}

.experience-slider__button,
.experience-slider__button-dot {
  transition: background-color 200ms ease-in-out;
}

.experience-slider__button-dot > * {
  transition: scale 200ms ease-in-out;
}

.experience-slider__button:hover,
.experience-slider__button:focus-visible,
.experience-slider__button-dot:hover,
.experience-slider__button-dot:focus-visible {
  background-color: rgba(0, 0, 0, 0.2);
}
.experience-slider__button-dot:hover > *,
.experience-slider__button-dot:focus-visible > * {
  scale: 1.2;
}

.experience-slider__button:focus-visible,
.experience-slider__button-dot:focus-visible {
  outline: 1px solid var(--clr-accent-400);
}

.experience-slider__button:hover > *,
.experience-slider__button:focus-visible > * {
  animation: squish 200ms ease-in-out;
}

@keyframes squish {
  50% {
    scale: 1.4 0.6;
  }
}
