.experience-type-writer {
  margin-block-start: 1em;
}

.experience-type-writer::after {
  content: "";
  display: inline-block;
  inline-size: 0.5em;
  block-size: 1em;
  background: var(--clr-accent-400);
  scale: 1.2;
}
