.experience-modal {
  background: var(--clr-primary-700);

  max-inline-size: min(90vw, var(--size-content-3));
  max-block-size: min(80vh, 100%);
  max-block-size: min(80dvb, 100%);
  overflow: hidden;

  margin: auto;
  display: grid;

  transition: opacity 1s var(--ease-3);
}

.experience-modal[open] {
  animation: var(--animation-slide-in-up) forwards;
}

.experience-modal:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.experience-modal::backdrop {
  backdrop-filter: blur(25px);
  transition: backdrop-filter 1s ease;
}

.experience-modal > form {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: start;
  max-block-size: 80vh;
  max-block-size: 80dvb;
}

.experience-modal > form > header {
  font-size: var(--fs-500);

  background: var(--clr-primary-800);
  padding-inline: var(--size-3);
  padding-block: var(--size-2);

  display: flex;
  gap: var(--size-3);

  justify-content: space-between;
  align-items: center;
}

.experience-modal > form > article {
  padding-inline: var(--size-3);
  padding-block: var(--size-2);

  overflow-y: auto;
  max-block-size: 100%;
  overscroll-behavior-y: contain;

  display: grid;
  justify-items: flex-start;

  box-shadow: var(--shadow-2);
  z-index: var(--layer-1);
}

.experience-modal > form > footer {
  background: var(--clr-primary-800);
  padding-inline: var(--size-3);
  padding-block: var(--size-2);

  display: flex;
  flex-wrap: wrap;
  gap: var(--size-3);

  justify-content: center;
  align-items: center;
}
