.header {
  grid-area: header;
  inline-size: 100%;
  background: var(--clr-primary-700);
  position: sticky;
  inset-block-start: 0;
  z-index: 1;
}

.header::after {
  content: "";
  position: absolute;
  inset-block-start: 50%;
  inline-size: 100%;
  border-block-end: 1px solid var(--clr-primary-300);
  z-index: -1;
}

.header nav {
  display: flex;
  justify-content: end;
}

.header nav a {
  font-size: var(--fs-400);
  text-decoration: none;
  margin-inline: 0.5em;
  margin-block: 0.5em;
  padding-inline: 0.5em;
  padding-block: 0.5em;
  border-start-start-radius: 1em;
  border-start-end-radius: 1em;
  border-end-start-radius: 1em;
  border-end-end-radius: 1em;
  background: var(--clr-primary-700);
  color: var(--clr-primary-200);
  border-inline: 1px solid var(--clr-primary-300);
  border-block: 1px solid var(--clr-primary-300);
}

.header nav a.active {
  color: var(--clr-neutral-100);
  border-inline: 1px solid var(--clr-accent-400);
  border-block: 1px solid var(--clr-accent-400);
}
