.job-experience {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 1em;
  overflow-x: auto;
  padding-bottom: 2em;
  scrollbar-color: var(--clr-accent-400) var(--clr-primary-800);
}

.job-experience::-webkit-scrollbar {
  height: 0.75em;
}
.job-experience::-webkit-scrollbar-track {
  background-color: var(--clr-primary-800);
}
.job-experience::-webkit-scrollbar-thumb {
  background-color: var(--clr-accent-400);
  border-radius: 100vw;
}

.job-experience__job {
  width: 29em;
  border-radius: 1em;
  padding: 1em;
  background: var(--clr-primary-800);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas:
    "year"
    "info"
    "pic"
    "txt";
}

.job-experience__job * {
  margin: 0;
}

.job-experience__year {
  grid-area: year;
  color: var(--clr-accent-400);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  letter-spacing: 0.2em;
}

.job-experience__year > a {
  float: right;
}

.job-experience__year > a:hover {
  border-radius: 1em;
  outline: 1px solid var(--clr-accent-400);
}

.job-experience__year > span {
  width: 3em;
  height: 3em;
  display: block;
  float: right;
}

.job-experience__year > img {
  width: 3em;
  height: 3em;
}

.job-experience__info {
  grid-area: info;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1em;
}

.job-experience__pic {
  grid-area: pic;
  margin-bottom: 2em;
}

.job-experience__txt {
  grid-area: txt;
  text-align: justify;
}

.job-info__role {
  font-size: var(--fs-600);
  line-height: 1.2;
}

.job-info__company {
  color: var(--clr-primary-200);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

/* || MEDIA QUERIES */

/* X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
  .job-experience__job {
    width: 22em;
    padding: 1em;
  }

  .job-experience__txt {
    text-align: justify;
    line-height: 1.3;
  }

  .job-info__role {
    font-size: var(--fs-500);
  }
}
