.job-experience-list {
  inline-size: 100%;
  max-inline-size: 36em;
  margin-inline: auto;

  display: grid;
  gap: 0.25em;

  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;

  grid-template-areas:
    "pjobt cjobt njobt"
    "jview jview jview"
    "pjobb cjobb njobb";

  container: job-list / inline-size;
}

.job-experience-list__pjobt {
  grid-area: pjobt;
}

.job-experience-list__cjobt {
  grid-area: cjobt;
  place-self: center;
}

.job-experience-list__njobt {
  grid-area: njobt;
}

.job-experience-list__pjobb {
  grid-area: pjobb;
}

.job-experience-list__cjobb {
  grid-area: cjobb;
  place-self: center;
}

.job-experience-list__njobb {
  grid-area: njobb;
}

.job-experience-list__view {
  grid-area: jview;
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
  padding-block: 0 1em;
  overflow-x: scroll;

  scrollbar-color: var(--clr-accent-400) var(--clr-primary-800);
  scroll-snap-type: inline mandatory;
  scroll-behavior: smooth;
}

.job-experience-list__view::-webkit-scrollbar {
  block-size: 0.75em;
}

.job-experience-list__view::-webkit-scrollbar-track {
  background-color: var(--clr-primary-800);
}

.job-experience-list__view::-webkit-scrollbar-thumb {
  background-color: var(--clr-accent-400);
  border-start-start-radius: 100vw;
  border-end-start-radius: 100vw;
  border-start-end-radius: 100vw;
  border-end-end-radius: 100vw;
}
