.job-experience {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 2rem;
  scrollbar-color: var(--clr-accent-400) var(--clr-primary-800);
}

.job-experience::-webkit-scrollbar {
  height: 0.75rem;
}
.job-experience::-webkit-scrollbar-track {
  background-color: var(--clr-primary-800);
}
.job-experience::-webkit-scrollbar-thumb {
  background-color: var(--clr-accent-400);
  border-radius: 100vw;
}

.job-experience__job {
  width: 29rem;
  border-radius: 0.5rem;
  padding: 2rem;
  background: var(--clr-primary-800);
}

.job-experience__job * {
  margin: 0;
}

.job-experience__year {
  color: var(--clr-accent-400);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  letter-spacing: 0.2em;
}

.job-experience__info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem;
}

.job-info__role {
  font-size: var(--fs-600);
  line-height: 1.2;
}

.job-info__company {
  color: var(--clr-primary-200);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}
