.my-certificates {
  width: clamp(10em, 100%, 36em);
  min-width: 10em;
  max-width: 36em;
  margin: auto;
}

.my-certificates figcaption {
  background: var(--clr-primary-300);
  font-style: italic;
  padding: 0.35em;
  float: right;
  margin-bottom: 1em;
  border-radius: 1em 0;
}

.my-certificates dl {
  clear: both;
}

.my-certificates picture + picture {
  margin-top: 1em;
}
