.my-certificates {
  inline-size: 100%;
  max-inline-size: 36em;
  margin-inline: auto;
}

.my-certificates figcaption {
  background: var(--clr-primary-300);
  font-style: italic;
  padding-inline: 0.35em;
  padding-block: 0.35em;
  float: inline-end;
  margin-block: 0 1em;
  border-start-start-radius: 1em;
  border-start-end-radius: 0;
  border-end-start-radius: 0;
  border-end-end-radius: 1em;
}

.my-certificates dl {
  clear: inline-end;
}

.my-certificates picture + picture {
  margin-block: 1em 0;
}
