.my-education {
  inline-size: 100%;
  max-inline-size: 36em;
  margin-inline: auto;
}

.my-education figcaption {
  background: var(--clr-primary-300);
  font-style: italic;
  padding-inline: 0.35em;
  padding-block: 0.35em;
  float: inline-end;
  margin-block: 0 1em;
  border-start-start-radius: 1em;
  border-start-end-radius: 0;
  border-end-start-radius: 0;
  border-end-end-radius: 1em;
}

.my-education dl {
  clear: inline-end;
}

.my-education__school {
  margin-block: 0 1em;
  font-size: var(--fs-400);
  color: var(--clr-primary-300);
}

.my-education__info {
  margin-block: 0 3em;
}

.my-education__info:last-child {
  margin-block: 0;
}

.school__name {
  color: var(--clr-primary-200);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

.school__year {
  color: var(--clr-accent-400);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  letter-spacing: 0.2em;
}
