.my-education {
  width: clamp(10em, 100%, 36em);
  min-width: 10em;
  max-width: 36em;
  margin: auto;
}

.my-education figcaption {
  background: var(--clr-primary-300);
  font-style: italic;
  padding: 0.35em;
  float: right;
  margin-bottom: 1em;
  border-radius: 1em 0;
}

.my-education__school {
  margin-bottom: 1em;
  font-size: var(--fs-400);
  color: var(--clr-primary-300);
}

.my-education__info {
  margin-bottom: 3em;
}

.school__name {
  color: var(--clr-primary-200);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

.school__year {
  color: var(--clr-accent-400);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  letter-spacing: 0.2em;
}
