.my-skills {
  block-size: 100%;

  position: relative;
  z-index: 1;
}

.my-skills::before {
  content: "";
  position: absolute;
  inset-inline-start: 50%;
  block-size: 100%;
  border-inline-start: 1px solid var(--clr-primary-300);
  z-index: -1;
}

.my-skills__list {
  display: grid;
  gap: 1em;

  position: sticky;
  inset-block-start: 4em;
}

.my-skills__list > li > img {
  inline-size: 100%;
}

.my-skills__list > li.stack {
  display: grid;
}

.my-skills__list > li.stack > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

.my-skills__list > li > img.html {
  --_dest-opacity: 1;

  opacity: 0;
  transform: translateX(-100%);
  animation: slide-in-lr 1s ease-in-out forwards;
}

.my-skills__list > li > img.css {
  --_dest-opacity: 1;

  opacity: 0;
  transform: translateX(-100%);
  animation: slide-in-lr 1s ease-in-out forwards;
  animation-delay: 0.2s;
}

.my-skills__list > li > img.javascript {
  --_dest-opacity: 1;

  opacity: 0;
  transform: translateX(-100%);
  animation:
    slide-in-lr 1s ease-in-out forwards,
    fade-out 24s ease-in-out alternate infinite;
  animation-delay: 0.4s;
}
.my-skills__list > li > img.typescript {
  --_dest-opacity: 0;

  opacity: 0;
  transform: translateX(-100%);
  animation:
    slide-in-lr 1s ease-in-out forwards,
    fade-in 24s ease-in-out alternate infinite;
  animation-delay: 0.4s;
}

.my-skills__list > li > img.react {
  --_dest-opacity: 1;

  opacity: 0;
  transform: translateX(-100%);
  animation:
    slide-in-lr 1s ease-in-out forwards,
    fade-out 24s ease-in-out alternate infinite;
  animation-delay: 0.6s, 8s;
}
.my-skills__list > li > img.nextjs {
  --_dest-opacity: 0;

  opacity: 0;
  transform: translateX(-100%);
  animation:
    slide-in-lr 1s ease-in-out forwards,
    fade-in 24s ease-in-out alternate infinite;
  animation-delay: 0.6s, 8s;
}

.my-skills__list > li > img.inkscape {
  --_dest-opacity: 1;

  opacity: 0;
  transform: translateX(-100%);
  animation:
    slide-in-lr 1s ease-in-out forwards,
    fade-out 24s ease-in-out alternate infinite;
  animation-delay: 0.8s, 16s;
}
.my-skills__list > li > img.gimp {
  --_dest-opacity: 0;

  opacity: 0;
  transform: translateX(-100%);
  animation:
    slide-in-lr 1s ease-in-out forwards,
    fade-in 24s ease-in-out alternate infinite;
  animation-delay: 0.8s, 16s;
}

@keyframes slide-in-lr {
  0% {
    transform: translateX(-100%);
  }
  100% {
    opacity: var(--_dest-opacity);
    transform: translateX(0);
  }
}

@keyframes slide-in-bt {
  0% {
    transform: translateY(100%);
  }
  100% {
    opacity: var(--_dest-opacity);
    transform: translateY(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* || MEDIA QUERIES */

/* X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
  .my-skills {
    inline-size: 100%;
    block-size: auto;

    background: var(--clr-primary-700);
    position: fixed;
    inset-block-end: 0;
  }

  .my-skills::before {
    inset-inline-start: 0;
    inset-block-start: 40%;

    inline-size: 100%;
    block-size: auto;

    border-inline-start: none;
    border-block-end: 1px solid var(--clr-primary-300);
  }

  .my-skills__list {
    grid-auto-flow: column;
    gap: 0.25em;

    position: static;
    inset: 0;
  }

  .my-skills__list > li > img.html {
    --_dest-opacity: 1;

    opacity: 0;
    transform: translateY(100%);
    animation: slide-in-bt 1s ease-in-out forwards;
  }

  .my-skills__list > li > img.css {
    --_dest-opacity: 1;

    opacity: 0;
    transform: translateY(100%);
    animation: slide-in-bt 1s ease-in-out forwards;
    animation-delay: 0.2s;
  }

  .my-skills__list > li > img.javascript {
    --_dest-opacity: 1;

    opacity: 0;
    transform: translateY(100%);
    animation:
      slide-in-bt 1s ease-in-out forwards,
      fade-out 24s ease-in-out alternate infinite;
    animation-delay: 0.4s;
  }
  .my-skills__list > li > img.typescript {
    --_dest-opacity: 0;

    opacity: 0;
    transform: translateY(100%);
    animation:
      slide-in-bt 1s ease-in-out forwards,
      fade-in 24s ease-in-out alternate infinite;
    animation-delay: 0.4s;
  }

  .my-skills__list > li > img.react {
    --_dest-opacity: 1;

    opacity: 0;
    transform: translateY(100%);
    animation:
      slide-in-bt 1s ease-in-out forwards,
      fade-out 24s ease-in-out alternate infinite;
    animation-delay: 0.6s, 8s;
  }
  .my-skills__list > li > img.nextjs {
    --_dest-opacity: 0;

    opacity: 0;
    transform: translateY(100%);
    animation:
      slide-in-bt 1s ease-in-out forwards,
      fade-in 24s ease-in-out alternate infinite;
    animation-delay: 0.6s, 8s;
  }

  .my-skills__list > li > img.inkscape {
    --_dest-opacity: 1;

    opacity: 0;
    transform: translateY(100%);
    animation:
      slide-in-bt 1s ease-in-out forwards,
      fade-out 24s ease-in-out alternate infinite;
    animation-delay: 0.8s, 16s;
  }
  .my-skills__list > li > img.gimp {
    --_dest-opacity: 0;

    opacity: 0;
    transform: translateY(100%);
    animation:
      slide-in-bt 1s ease-in-out forwards,
      fade-in 24s ease-in-out alternate infinite;
    animation-delay: 0.8s, 16s;
  }
}
