.my-skills {
  block-size: 100%;
  margin-inline: 1em 0;
  border-inline-start: 1px solid var(--clr-primary-300);
  position: relative;
}

.my-skills__list {
  block-size: auto;
  list-style: none;
  padding-inline: 0;
  padding-block: 0;
  margin-inline: 0;
  margin-block: 0;
  display: grid;
  gap: 3em;
  position: sticky;
  inset-block-start: 5em;
}

.my-skills__list > li {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  font-size: var(--fs-300);
  font-weight: var(--fw-semi-bold);
  padding-inline: 0.5em 0;
}

.my-skills__list > li img {
  inline-size: 3em;
  block-size: 3em;
}

.my-skills__list > li::after {
  --_size: 0.5em;

  content: "";
  position: absolute;
  inset-inline-start: calc(var(--_size) / -2);
  inset-block-start: calc(50% - var(--_size) / 2);
  inline-size: var(--_size);
  aspect-ratio: 1;
  outline: var(--_size) solid var(--clr-primary-400);
  border-start-start-radius: 50%;
  border-start-end-radius: 50%;
  border-end-start-radius: 50%;
  border-end-end-radius: 50%;
  background: var(--clr-neutral-100);
}

/* || MEDIA QUERIES */

/* X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
  .my-skills {
    inline-size: 100%;
    block-size: auto;
    background: var(--clr-primary-700);
    margin-inline: 0;
    margin-block: 0;
    border-inline: none;
    border-block: none;
    position: fixed;
    inset-block-end: 0;
    z-index: 1;
  }

  .my-skills::after {
    content: "";
    position: absolute;
    inset-block-start: 1em;
    inline-size: 100%;
    border-block-end: 1px solid var(--clr-primary-300);
    z-index: -1;
  }

  .my-skills__list {
    grid-auto-flow: column;
    gap: 0;
    position: static;
    inset: 0;
  }

  .my-skills__list > li {
    position: static;
    padding-inline: 0;
    padding-block: 0;
  }

  .my-skills__list > li::before {
    --_size: 0.5em;

    content: "";
    position: static;
    inline-size: var(--_size);
    aspect-ratio: 1;
    outline: var(--_size) solid var(--clr-primary-400);
    border-start-start-radius: 50%;
    border-start-end-radius: 50%;
    border-end-start-radius: 50%;
    border-end-end-radius: 50%;
    background: var(--clr-neutral-100);
    margin-inline: 1em;
    margin-block: 1em;
  }

  .my-skills__list > li::after {
    display: none;
  }
}
