.page-title {
  margin-block: 0 1em;

  block-size: 16em;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-inline: 1em 1em;

  border-block-start: 1px dotted var(--clr-primary-300);
  border-block-end: 1px dotted var(--clr-primary-300);

  border-start-start-radius: 1em;
  border-start-end-radius: 1em;
  border-end-start-radius: 1em;
  border-end-end-radius: 1em;
}

.page-title__eyebrow {
  color: var(--clr-secondary-400);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-inline: 0;
  margin-block: 0;
}

.page-title__heading {
  font-size: var(--fs-700);
  text-transform: uppercase;
  margin-inline: 0;
  margin-block: 0;
}

.page-title__intro {
  font-size: var(--fs-500);
  max-inline-size: 65ch;
}
