.page-title {
  margin-block: 0 3em;
}

.page-title__eyebrow {
  color: var(--clr-secondary-400);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-inline: 0;
  margin-block: 0;
}

.page-title__heading {
  font-size: var(--fs-700);
  text-transform: uppercase;
  margin-inline: 0;
  margin-block: 0;
}

.page-title__intro {
  font-size: var(--fs-500);
  max-inline-size: 65ch;
}

.page-title__intro > img {
  float: inline-start;
  shape-outside: circle(50%);
  border-start-start-radius: 50%;
  border-start-end-radius: 50%;
  border-end-start-radius: 50%;
  border-end-end-radius: 50%;
  margin-inline: 0 1em;
  margin-block: 1em 0;
  inline-size: 8em;
  block-size: 8em;
}
