.single-job-experience {
  inline-size: 100cqi;

  border-start-start-radius: 1em;
  border-end-start-radius: 1em;
  border-start-end-radius: 1em;
  border-end-end-radius: 1em;
  padding-inline: 1em;
  padding-block: 1em;
  background: var(--clr-primary-700);

  scroll-snap-stop: always;
  scroll-snap-align: center;

  display: grid;
  place-items: baseline center;
  grid-template-columns: 1fr auto;
  grid-template-rows: minmax(3em, auto) auto auto 1fr;
  grid-template-areas:
    "year github"
    "role company"
    "pic  pic"
    "txt  txt";
}

.single-job-experience__year {
  grid-area: year;
  color: var(--clr-accent-400);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  letter-spacing: 0.2em;
  place-self: start;
}

.single-job-experience__github {
  grid-area: github;
}

.single-job-experience__github > a:hover {
  border-start-start-radius: 1em;
  border-end-start-radius: 1em;
  border-start-end-radius: 1em;
  border-end-end-radius: 1em;
  outline: 1px solid var(--clr-accent-400);
}

.single-job-experience__github img {
  inline-size: 3em;
  block-size: 3em;
}

.single-job-experience__role {
  grid-area: role;
  font-size: var(--fs-600);
  line-height: 1.2;
  justify-self: start;
  margin-block: 0 0.5em;
}

.single-job-experience__company {
  grid-area: company;
  color: var(--clr-primary-200);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  margin-block: 0 0.5em;
}

.single-job-experience__pic {
  grid-area: pic;
  margin-block: 0 1em;
}

.single-job-experience__txt {
  grid-area: txt;
  text-align: justify;
}

/* || MEDIA QUERIES */

/* X-Small devices (portrait phones, less than 576px) */
@container job-list (width <= 30em) {
  .single-job-experience {
    grid-template-columns: 1fr auto;
    grid-template-rows: minmax(2em, auto) auto auto auto 1fr;
    grid-template-areas:
      "year    github"
      "role    role"
      "company company"
      "pic     pic"
      "txt     txt";
  }

  .single-job-experience__github img {
    inline-size: 2em;
    block-size: 2em;
  }

  .single-job-experience__role {
    font-size: var(--fs-500);
  }

  .single-job-experience__company {
    justify-self: end;
  }

  .single-job-experience__txt {
    line-height: 1.3;
  }
}
