.type-writer-output {
  white-space: pre-wrap;
  white-space: break-spaces;
  text-wrap: wrap;
}

.type-writer-output::after {
  content: "";
  display: inline-block;
  inline-size: 0.5em;
  block-size: 1em;
  background: var(--clr-accent-400);
  scale: 1.2;
}

.type-writer-output > img {
  float: inline-start;
  shape-outside: circle(50%);
  border-start-start-radius: 50%;
  border-start-end-radius: 50%;
  border-end-start-radius: 50%;
  border-end-end-radius: 50%;
  margin-inline: 0 1em;
  margin-block: 1em 0;
  inline-size: 8em;
  block-size: 8em;
}
