@theme inline {
  --animate-slide-lr: slide-lr 1s ease-in-out forwards;
  --animate-slide-bt: slide-bt 1s ease-in-out forwards;
  --animate-slide-lr-fade-out: slide-lr 1s ease-in-out forwards, fade-out 24s ease-in-out alternate infinite;
  --animate-slide-lr-fade-in: slide-lr 1s ease-in-out forwards, fade-in 24s ease-in-out alternate infinite;
  --animate-slide-bt-fade-out: slide-bt 1s ease-in-out forwards, fade-out 24s ease-in-out alternate infinite;
  --animate-slide-bt-fade-in: slide-bt 1s ease-in-out forwards, fade-in 24s ease-in-out alternate infinite;
  --animate-fade-in-out: fade-in-out 48s ease-in-out infinite;

  @keyframes slide-lr {
    0% {
      transform: translateX(0);
    }
    100% {
      opacity: var(--_dest-opacity);
      transform: translateX(100%);
    }
  }

  @keyframes slide-bt {
    0% {
      transform: translateY(0);
    }
    100% {
      opacity: var(--_dest-opacity);
      transform: translateY(-100%);
    }
  }

  @keyframes fade-out {
    0%,
    33% {
      opacity: 1;
    }
    66%,
    100% {
      opacity: 0;
    }
  }

  @keyframes fade-in {
    0%,
    33% {
      opacity: 0;
    }
    66%,
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-in-out {
    0%,
    10% {
      opacity: 0;
    }
    20%,
    40% {
      opacity: 1;
    }
    50%,
    100% {
      opacity: 0;
    }
  }
}
