:root {
  /* 
    The numbering system goes from 100 to 900
    The base is 400 (the default color, font size, or font weight)
  */
  --clr-neutral-100: hsla(0, 0%, 100%, 1);

  --clr-primary-200: hsla(229, 21%, 53%, 1);
  --clr-primary-300: hsla(229, 36%, 39%, 1);
  --clr-primary-400: hsla(230, 50%, 58%, 0.3);
  --clr-primary-700: hsla(229, 43%, 20%, 1);
  --clr-primary-800: hsla(229, 47%, 17%, 1);

  --clr-accent-400: hsla(147, 93%, 43%, 1);

  --clr-secondary-400: hsla(229, 78%, 60%, 1);

  --ff-base: "Outfit", sans-serif;

  --fw-regular: 300;
  --fw-semi-bold: 400;
  --fw-bold: 700;

  --fs-200: 0.75rem;
  --fs-300: 0.85rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: clamp(2rem, 10vw - 0.5rem, 3rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* || GENERAL STYLES */

img,
svg,
picture,
video {
  max-width: 100%;
  display: block;
}

button,
label,
input,
select,
progress,
meter,
textarea {
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  font: var(--fw-regular) var(--fs-400) / 1.5 var(--ff-base);
  color: var(--clr-neutral-100);
  background: var(--clr-primary-700);
  margin: 0;
}

/* || UTILITIES */

.visually-hidden {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
