/* || MAIN LAYOUT */

.main-grid {
  min-block-size: 100vh;
  min-block-size: 100dvh;
  align-items: start;

  display: grid;
  grid-template-columns: auto 1fr 14fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "placehl header header  header"
    "sidebar .      content .     ";
}

.main-grid__placehl {
  grid-area: placehl;
  place-self: stretch;
  margin-inline: 1em 0;
  border-inline-start: 1px solid var(--clr-primary-300);
  position: sticky;
  inset-block-start: 0;
}

.main-grid__placehl::after {
  content: "";
  position: absolute;
  inset-block-start: 50%;
  inline-size: calc(100% + 1em);
  margin-inline: -1em 0;
  border-block-end: 1px solid var(--clr-primary-300);
}

.main-grid > header {
  grid-area: header;
  inline-size: 100%;
  background: var(--clr-primary-700);
  position: sticky;
  inset-block-start: 0;
  z-index: 1;
}

.main-grid > header::after {
  content: "";
  position: absolute;
  inset-block-start: 50%;
  inline-size: 100%;
  border-block-end: 1px solid var(--clr-primary-300);
  z-index: -1;
}

.main-grid > header nav {
  display: flex;
  justify-content: end;
}

.main-grid > header nav a {
  font-size: var(--fs-400);
  text-decoration: none;
  margin-inline: 0.5em;
  margin-block: 0.5em;
  padding-inline: 0.5em;
  padding-block: 0.5em;
  border-start-start-radius: 1em;
  border-start-end-radius: 1em;
  border-end-start-radius: 1em;
  border-end-end-radius: 1em;
  background: var(--clr-primary-700);
  color: var(--clr-primary-200);
  border-inline: 1px solid var(--clr-primary-300);
  border-block: 1px solid var(--clr-primary-300);
}

.main-grid > header nav :global a.active {
  color: var(--clr-neutral-100);
  border-inline: 1px solid var(--clr-accent-400);
  border-block: 1px solid var(--clr-accent-400);
}

aside {
  grid-area: sidebar;
  place-self: stretch;
}

main {
  grid-area: content;
  overflow: auto;
}

/* || MEDIA QUERIES */

/* X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
  .main-grid {
    grid-template-columns: 1em 1fr 1em;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header  header"
      ".      content .     "
      "footer footer  footer";
  }

  .main-grid__placehl {
    display: none;
  }

  aside {
    grid-area: footer;
    place-self: stretch;
  }

  main {
    grid-area: content;
    place-self: stretch;
    margin-block: 0 8em;
  }
}
