/* || MAIN LAYOUT */

.main-grid {
  min-height: 100vh;
  align-items: start;

  display: grid;
  grid-template-columns: auto 1fr 14fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "placehl header header header"
    "sidebar . content . ";
}

.main-grid__placehl {
  grid-area: placehl;
  place-self: stretch;
  margin-left: 1em;
  border-left: 1px solid var(--clr-primary-300);
  position: sticky;
  top: 0;
}

.main-grid__placehl::after {
  content: "";
  position: absolute;
  top: 50%;
  width: calc(100% + 1em);
  margin-left: -1em;
  border-bottom: 1px solid var(--clr-primary-300);
}

header {
  grid-area: header;
  width: 100%;
  background: var(--clr-primary-700);
  position: sticky;
  top: 0;
  z-index: 1;
}

header::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  border-bottom: 1px solid var(--clr-primary-300);
  z-index: -1;
}

header nav {
  display: flex;
  justify-content: end;
}

header nav a {
  font-size: var(--fs-400);
  text-decoration: none;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 1em;
  background: var(--clr-primary-700);
  color: var(--clr-primary-200);
  border: 1px solid var(--clr-primary-300);
}

header nav :global a.active {
  color: var(--clr-neutral-100);
  border: 1px solid var(--clr-accent-400);
}

aside {
  grid-area: sidebar;
  place-self: stretch;
}

main {
  grid-area: content;
  overflow: auto;
}

/* || MEDIA QUERIES */

/* X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
  .main-grid {
    grid-template-columns: 1em 1fr 1em;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header header"
      " . content . "
      "footer footer footer";
  }

  .main-grid__placehl {
    display: none;
  }

  aside {
    grid-area: footer;
    place-self: stretch;
  }

  main {
    grid-area: content;
    place-self: stretch;
    margin-bottom: 8em;
  }
}
